@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic");
@font-face {
  font-family: "MuseoSansCyrl-700";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
}

@font-face {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/icons.eot?3o34i9");
  src: url("../fonts/icons.eot?3o34i9#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?3o34i9") format("truetype"), url("../fonts/icons.woff?3o34i9") format("woff"), url("../fonts/icons.svg?3o34i9#icons") format("svg");
}

[class^="ficon_"], [class*=" ficon_"], .slick-arrow, .mfp-arrow, .mfp-close {
  text-transform: none;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ficon_close:before,
.mfp-close:before {
  content: "\e90c";
}

.ficon_marker:before {
  content: "\e909";
}

.ficon_phone:before {
  content: "\e90a";
}

.ficon_prev:before,
.slick-prev:before,
.mfp-arrow-left:before {
  content: "\e900";
}

.ficon_next:before,
.slick-next:before,
.mfp-arrow-right:before {
  content: "\e901";
}

.ficon_check:before {
  content: "\e90b";
}

.ficon_eye:before {
  content: "\e902";
}

.ficon_person:before {
  content: "\e903";
}

.ficon_prize:before {
  content: "\e904";
}

.ficon_tennis:before {
  content: "\e905";
}

.ficon_fb:before {
  content: "\e906";
}

.ficon_ok:before {
  content: "\e907";
}

.ficon_vk:before {
  content: "\e908";
}

/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;

      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;

  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

mark {
  color: #000000;
  background-color: #ffff00;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}

legend {
  display: table;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000000 !important;
  }
  .tag {
    border: 1px solid #000000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #ffffff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dddddd !important;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;

  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-width: 1170px;
  color: #2c3e50;
  background-color: #ffffff;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

p {
  margin-top: 0;
  margin-bottom: 22px;
}

address {
  margin-bottom: 22px;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 22px;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: #29b560;
}

a:focus, a:hover {
  text-decoration: none;
  color: #208b4a;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: default;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 1.5em;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

.hidden {
  display: none;
}

.page {
  min-height: 100%;
  margin-bottom: -170px;
}

.page:after {
  display: block;
  content: "";
}

.page:after,
.footer {
  height: 170px;
}

.content {
  padding-bottom: 84px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "MuseoSansCyrl-700", "Times New Roman", Times, serif;
  font-weight: 400;
}

h1, .h1 {
  margin-bottom: 26px;
  font-size: 40px;
  line-height: 1;
}

h2, .h2 {
  margin-top: 25px;
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 1.2;
}

h3, .h3 {
  margin-top: 25px;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 1.25;
}

h4, .h4 {
  margin-bottom: 9px;
  font-size: 20px;
  line-height: 1.2;
}

h5, .h5 {
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 1.3333333333;
}

h6, .h6 {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7142857143;
}

.text-primary {
  color: #29b560;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

table {
  width: 100%;
  margin-bottom: 35px;
  table-layout: fixed;
  border-spacing: 0;
  text-align: left;
  border: 1px solid #ededed;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.5;
}

th {
  padding: 16px 26px 15px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ededed;
  border-width: 0 1px 1px 0;
  font-weight: bold;
}

td {
  padding: 8px 24px 7px;
  vertical-align: top;
  border-bottom: 1px solid #ededed;
}

tr:last-child th,
tr:last-child td {
  border-bottom-width: 0;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-lg-1 {
  max-width: 8.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
}

.col-lg-2 {
  max-width: 16.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
}

.col-lg-3 {
  max-width: 25%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-lg-4 {
  max-width: 33.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
}

.col-lg-5 {
  max-width: 41.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
}

.col-lg-6 {
  max-width: 50%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-lg-7 {
  max-width: 58.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
}

.col-lg-8 {
  max-width: 66.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
}

.col-lg-9 {
  max-width: 75%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.col-lg-10 {
  max-width: 83.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
}

.col-lg-11 {
  max-width: 91.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
}

.col-lg-12 {
  max-width: 100%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.col-lg-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-lg-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.row-lg-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-lg-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-lg-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.col-lg-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-lg-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.col-lg-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button {
  display: inline-block;
  padding: 2px 21px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  font-family: "MuseoSansCyrl-700", "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 42px;
}

.button:focus, .button:hover {
  text-decoration: none;
  outline: 0;
}

.button:focus, .button.focus, .button:active:focus, .button:active.focus, .button.active:focus, .button.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline: 0;
  outline-offset: -2px;
}

.button.focus {
  text-decoration: none;
}

.button:active, .button.active {
  outline: 0;
  background-image: none;
}

.button.disabled, .button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.button + .button {
  margin-left: 3px;
}

a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}

.button_width_300 {
  width: 300px;
}

.button_primary {
  color: #ffffff;
  border-color: #29b560;
  background-color: #29b560;
}

.button_primary:hover {
  color: #ffffff;
  border-color: #188c46;
  background-color: #188c46;
}

.button_primary:focus {
  color: #ffffff;
  border-color: #188c46;
  background-color: #188c46;
}

.button_primary:active {
  color: #ffffff;
  border-color: #188c46;
  background-color: #188c46;
  background-image: none;
}

.button_primary:active:hover, .button_primary:active:focus {
  color: #ffffff;
  border-color: #114d29;
  background-color: #196e3b;
}

.button_primary.disabled:focus, .button_primary:disabled:focus {
  border-color: #29b560;
  background-color: #29b560;
}

.button_primary.disabled:hover, .button_primary:disabled:hover {
  border-color: #29b560;
  background-color: #29b560;
}

.button_link {
  color: #29b560;
  border-radius: 0;
  font-weight: normal;
}

.button_link:hover {
  border-color: transparent;
}

.button_link:focus, .button_link:hover {
  text-decoration: none;
  color: #188c46;
  background-color: transparent;
}

.button_link, .button_link:active, .button_link.active, .button_link:disabled {
  background-color: transparent;
}

.button_link, .button_link:focus, .button_link:active {
  border-color: transparent;
}

.button_link:disabled:focus, .button_link:disabled:hover {
  text-decoration: none;
  color: #999999;
}

.button_block {
  display: block;
  width: 100%;
}

.button_block + .button_block {
  margin-top: 5px;
}

input[type="submit"].button_block,
input[type="reset"].button_block,
input[type="button"].button_block {
  width: 100%;
}

.form__control {
  position: relative;
  display: block;
  width: 100%;
  height: 44px;
  padding: 10px 17px 11px;
  -webkit-transition: color ease-in-out 0.15s;
          transition: color ease-in-out 0.15s;
  color: #2c3e50;
  border: 1px solid #ededed;
  background: none;
  background-color: #ffffff;
  background-clip: padding-box;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.8461538462;
}

.form__control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form__control::-webkit-input-placeholder {
  opacity: 1;
  color: #2c3e50;
}

.form__control::-moz-placeholder {
  opacity: 1;
  color: #2c3e50;
}

.form__control:-ms-input-placeholder {
  opacity: 1;
  color: #2c3e50;
}

.form__control::placeholder {
  opacity: 1;
  color: #2c3e50;
}

.form__control:-ms-input-placeholder {
  color: #2c3e50;
}

.form__control:disabled, .form__control[readonly] {
  opacity: 1;
  background-color: #999999;
}

.form__control:disabled {
  cursor: not-allowed;
}

.form__control:focus, .form__control:active {
  outline: 0;
}

.form__control.select:not([size]):not([multiple]) {
  height: calc(44px - 1px);
}

.form__control.select:focus::-ms-value {
  color: #2c3e50;
}

.form__control-file, .form__control-range {
  display: block;
}

.form__group {
  position: relative;
  margin-bottom: 30px;
}

.form__group_submit {
  text-align: center;
}

.form__group_required:after {
  position: absolute;
  top: 10px;
  right: 1px;
  width: 41px;
  content: "*";
  text-align: center;
  color: #29b560;
  font-size: 16px;
  font-weight: bold;
}

.form__group_required .form__control {
  padding-right: 41px;
}

.form__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__col {
  max-width: 320px;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

textarea.form__control {
  height: auto;
}

.custom-control {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-left: 27px;
  cursor: pointer;
  -webkit-transition: color 0.25s ease-in-out;
          transition: color 0.25s ease-in-out;
  font-size: 13px;
  line-height: 16px;
}

.custom-control__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: inherit;
  border: 1px solid #cdd8df;
  background-color: #ffffff;
}

.custom-checkbox .custom-control__icon {
  position: absolute;
  display: none;
  color: #ffffff;
}

.custom-checkbox .custom-control__input:checked ~ .custom-control__indicator,
.custom-checkbox .custom-control__input:active ~ .custom-control__indicator {
  border-color: #29b560;
  background-color: #29b560;
}

.custom-checkbox .custom-control__input:checked ~ .custom-control__indicator .custom-control__icon,
.custom-checkbox .custom-control__input:active ~ .custom-control__indicator .custom-control__icon {
  top: 3px;
  left: 2px;
  display: block;
  font-size: 9px;
}

.custom-radio .custom-control__indicator {
  border-radius: 50%;
}

.custom-radio .custom-control__input:checked ~ .custom-control__indicator,
.custom-radio .custom-control__input:active ~ .custom-control__indicator {
  border-width: 5px;
  border-color: #29b560;
}

.tel {
  text-decoration: none;
  color: inherit;
}

.tel:focus, .tel:hover {
  text-decoration: none;
  color: inherit;
}

.social__item {
  display: inline-block;
  width: 37px;
  height: 37px;
  margin-right: 8px;
  margin-left: 7px;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #425262;
  border-radius: 50%;
  background-color: transparent;
  font-size: 15px;
  line-height: 35px;
}

.social__item:focus, .social__item:hover {
  text-decoration: none;
  color: #2c3e50;
  border-color: #ffffff;
  background-color: #ffffff;
}

.social__item.ficon_vk {
  font-size: 11px;
}

.social__item.ficon_ok {
  font-size: 19px;
}

.header {
  border-bottom: 1px solid #d5d8dc;
}

.header__logo {
  margin-top: 36px;
  margin-bottom: 21px;
}

.header__logo-img {
  display: block;
}

.header__contacts {
  padding-top: 16px;
  padding-bottom: 8px;
  text-align: right;
}

.header__contacts-item {
  display: inline-block;
  margin-right: 13px;
  margin-left: 13px;
  vertical-align: middle;
}

.header__contacts-item:last-child {
  margin-right: 0;
}

.header__tel {
  font-family: "MuseoSansCyrl-700", "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
}

.header__button {
  padding-right: 24px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 2.375;
}

.header__nav {
  text-align: right;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.nav__item {
  position: relative;
  display: inline-block;
  margin-right: 13px;
  margin-left: 13px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-right: -9px;
}

.nav__link {
  display: block;
  padding: 18px 9px 18px;
  white-space: nowrap;
  color: #2c3e50;
  font-family: "MuseoSansCyrl-700", "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
}

.nav__link:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 6px;
  background-color: #29b560;
}

.nav__link:hover:after {
  content: "";
}

.nav__link.active {
  color: #29b560;
}

.nav__link.active:after {
  content: "";
}

.tabs {
  position: relative;
}

.tabs__nav {
  margin-top: 28px;
  margin-bottom: 28px;
  padding: 0;
  list-style: none;
}

.tabs__nav:last-child {
  margin-bottom: -23px;
}

.tabs__nav-item {
  margin-bottom: 15px;
  text-align: center;
  line-height: 3.5;
}

.tabs__nav-link {
  display: block;
  padding-top: 2px;
  color: #29b560;
  border: 1px solid #ededed;
  border-radius: 4px;
  outline: 0;
}

.tabs__nav-link:hover, .tabs__nav-link.active {
  color: #ffffff;
  border-color: #29b560;
  background-color: #29b560;
}

.tabs .tabs__tab {
  display: none;
}

.tabs .tabs__tab.active {
  display: block;
}

.tabs_styled .tabs__nav {
  margin-top: 35px;
  margin-bottom: 35px;
}

.tabs_styled .tabs__nav .tabs__nav-item {
  text-transform: uppercase;
  font-family: "MuseoSansCyrl-700", "Times New Roman", Times, serif;
  font-size: 12px;
  line-height: 3.5;
}

.box {
  background-color: #ffffff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.09);
}

h1 + .box {
  margin-top: 37px;
}

.breadcrumbs {
  margin-top: 26px;
  margin-bottom: 8px;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs__item {
  display: inline-block;
  white-space: nowrap;
  color: #d5d8dc;
  font-size: 12px;
  line-height: 1.6666666667;
}

.breadcrumbs__item:after {
  margin-right: 7px;
  margin-left: 6px;
  content: "/";
  color: #2c3e50;
}

.breadcrumbs__item:last-child:after {
  content: "";
}

.breadcrumbs__item:nth-last-child(2):after {
  color: #d5d8dc;
}

.breadcrumbs__link {
  color: #2c3e50;
}

.articles {
  padding-top: 6px;
}

.articles:last-child {
  margin-bottom: -58px;
}

.articles__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
}

.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  margin-bottom: 29px;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  color: inherit;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.articles__item:hover {
  color: inherit;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.15);
}

.articles__img-block {
  width: 100%;
  padding-bottom: 56.25%;
  background-position: center;
  background-size: cover;
}

.articles__content {
  padding: 13px 28px 28px;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  border: 1px solid #ededed;
  border-top-width: 0;

  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.articles__item:hover .articles__content {
  border-color: #ffffff;
}

.articles__item:hover .articles__title {
  color: #29b560;
}

.articles__text {
  overflow: hidden;
  max-height: 96px;
}

.article ul, .article ol {
  padding-left: 28px;
  list-style-type: none;
}

.article ul > li, .article ol > li {
  position: relative;
}

.article ul > li:before, .article ol > li:before {
  position: absolute;
  left: 0;
}

.article ul > li {
  padding-left: 17px;
}

.article ul > li:before {
  top: 9px;
  width: 6px;
  height: 6px;
  content: "";
  border-radius: 50%;
  background-color: #29b560;
}

.article ol {
  counter-reset: ol-counter;
}

.article ol > li {
  padding-left: 20px;
}

.article ol > li:before {
  position: absolute;
  top: 0;
  content: counter(ol-counter) ".";
  counter-increment: ol-counter;
  color: #29b560;
}

.article p + .box {
  margin-top: 40px;
}

.article__imgs {
  margin-top: 34px;
  margin-bottom: 9px;
}

.article__imgs img {
  display: block;
  margin-bottom: 20px;
}

.courts {
  margin-top: 46px;
}

.courts:last-child {
  margin-bottom: -38px;
}

.courts__item {
  margin-bottom: 30px;
}

.court {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 59px 38px;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.court__img-block {
  max-width: 340px;
  padding-right: 79px;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
}

.court__img {
  display: block;
  width: 261px;
  height: 261px;
  border-radius: 50%;
}

.court__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.court__title {
  margin-top: 0;
  padding-top: 4px;
}

.court__text {
  margin-bottom: 33px;
}

.instructors {
  margin-top: 36px;
  margin-bottom: 45px;
}

.instructors:last-child {
  margin-bottom: -38px;
}

.instructors__section {
  margin-bottom: 38px;
  padding-top: 37px;
  padding-bottom: 36px;
}

.instructors__title {
  margin-top: 0;
  margin-bottom: 59px;
  text-align: center;
}

.instructors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instructors__item {
  position: relative;
  min-width: 25%;
  margin-bottom: 30px;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.instructors__item + .instructors__item:before {
  position: absolute;
  top: 5px;
  left: -1px;
  width: 1px;
  height: 95px;
  content: "";
  background-color: #e9ebed;
}

.instructors__action {
  margin-top: 32px;
  text-align: center;
}

.instructor {
  text-align: center;
}

.instructor__img-block {
  margin-bottom: 23px;
}

.instructor__img {
  display: block;
  width: 115px;
  height: 115px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.instructor__text {
  font-size: 13px;
  line-height: 1.3846153846;
}

.contacts__list {
  margin-bottom: 40px;
  padding-top: 6px;
}

.contacts__section {
  font-size: 16px;
  line-height: 1.5;
}

.contacts__item {
  position: relative;
  padding-left: 27px;
}

.contacts__item-icon {
  position: absolute;
  top: 6px;
  left: 3px;
  color: #29b560;
  font-size: 15px;
}

.contacts__item-icon.ficon_phone {
  font-size: 13px;
}

.map {
  height: 382px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.09);
}

.reservation__section {
  padding: 2px 37px 33px;
  border-bottom: 1px solid #e9e9e9;
}

.reservation__section:last-child {
  border-bottom: 0;
}

.reservation__title {
  margin-bottom: 34px;
  text-align: center;
}

.reservation__slider {
  overflow: hidden;
  margin-right: -12px;
  margin-left: -13px;
}

.reservation__slider .slick-arrow {
  top: 53px;
  width: 31px;
  -webkit-transform: none;
          transform: none;
  background-color: #ffffff;
}

.reservation__slider .slick-arrow:before {
  color: #29b560;
  font-size: 18px;
}

.reservation__slider .slick-arrow:hover {
  background-color: #29b560;
}

.reservation__slider .slick-arrow:hover:before {
  color: #ffffff;
}

.reservation__slider .slick-prev {
  left: 12px;
  padding-right: 19px;
  text-align: right;
  border-radius: 0 60px 60px 0;
}

.reservation__slider .slick-next {
  right: 13px;
  padding-left: 19px;
  text-align: left;
  border-radius: 60px 0 0 60px;
}

.reservation__slider-item {
  padding-right: 12.5px;
  padding-left: 12.5px;
  cursor: pointer;
  cursor: pointer;
  text-align: center;
}

.reservation__slider-img-block {
  position: relative;
  height: 166px;
  margin-bottom: 13px;
  border-radius: 3px;
  background-color: #29b560;
}

.reservation__slider-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  opacity: 1;
  background-position: center;
  background-size: cover;
}

.reservation__slider-item:hover .reservation__slider-img,
.reservation__slider-item.active .reservation__slider-img {
  opacity: 0.4;
}

.reservation__slider-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  color: #ffffff;
  font-size: 50px;
}

.reservation__slider-item:hover .reservation__slider-icon,
.reservation__slider-item.active .reservation__slider-icon {
  opacity: 1;
}

.reservation__slider-title {
  margin-bottom: 5px;
}

.reservation__dates {
  margin-bottom: 21px;
}

.reservation__periods {
  margin-bottom: 8px;
  background-color: #eef1f5;
}

.reservation__form {
  margin-top: -9px;
}

.dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -5px;
  margin-left: -5px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dates__item {
  max-width: 116px;
  margin-right: 4.5px;
  margin-bottom: 9px;
  margin-left: 4.5px;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 116px;
          flex: 0 0 116px;
}

.date {
  display: block;
  width: 116px;
  height: 100px;
  padding: 2px 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  text-align: center;
  border: 1px solid #ededed;
  border-radius: 3px;
  outline: 0;
}

.date:not(.disabled):hover, .date.active {
  color: #ffffff;
  border-color: #29b560;
  background-color: #29b560;
}

.date__day {
  margin-bottom: -4px;
  text-align: right;
}

.date__number {
  margin-bottom: -4px;
  font-family: "MuseoSansCyrl-700", "Times New Roman", Times, serif;
  font-size: 48px;
  line-height: 1;
}

.date__month {
  text-transform: capitalize;
}

.date.disabled {
  cursor: default;
  color: #b2b2b2;
  background-color: #f3f3f3;
}

.periods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 11px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.periods__item {
  max-width: 121px;
  margin: 10px 10px 9px;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 121px;
          flex: 0 0 121px;
}

.time {
  display: block;
  width: 121px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  text-align: center;
  border: 1px solid #ededed;
  border-radius: 3px;
  outline: 0;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 2.5384615385;
}

.time:not(.disabled):hover, .time.active {
  color: #ffffff;
  border-color: #29b560;
  background-color: #29b560;
}

.time.disabled {
  cursor: default;
  color: #b2b2b2;
  background-color: #f3f3f3;
}

.price {
  padding: 29px 36px 47px;
  text-align: center;
}

.price h2 {
  margin-top: 0;
}

.price table {
  margin-top: 29px;
}

.price table:last-child {
  margin-bottom: 0;
}

.price th {
  width: 277px;
}

.price td:last-child {
  width: 137px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1396px;
  margin-right: auto;
  margin-bottom: -84px;
  margin-left: auto;
  padding-right: 1px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item {
  position: relative;
  display: block;
  max-width: 20%;
  margin-bottom: 1px;
  border-left: 1px solid #ffffff;
  outline: 0;
  background: #2c3e50;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.gallery__img {
  display: block;
  width: 100%;
}

.gallery__item:hover .gallery__img {
  opacity: 0.2;
}

.gallery__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 67px;
  height: 67px;
  -webkit-transition: opacity 0.25s;
          transition: opacity 0.25s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  color: #ffffff;
  border-radius: 50%;
  background-color: #29b560;
  font-size: 23px;
  line-height: 67px;
}

.gallery__item:hover .gallery__icon {
  opacity: 1;
}

.links {
  margin-bottom: 25px;
}

.links__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  height: 210px;
  margin-bottom: 30px;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  text-align: center;
  color: #ffffff;
  background-color: #000000;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links__item:hover {
  color: #ffffff;
  box-shadow: inset 0 0 0 1px #ededed;
}

.links__img-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.54;
  background-position: center;
  background-size: cover;
}

.links__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.125;
}

.links__button {
  position: relative;
  width: 188px;
  margin-top: 0;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  opacity: 0;
  line-height: 0;
}

.links__item:hover .links__button {
  margin-top: 42px;
  opacity: 1;
  line-height: 40px;
}

.promo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  height: 460px;
  margin-bottom: 55px;
  text-align: center;
  color: #ffffff;
  background-color: #1f2c3a;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo__img-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  background-position: center;
  background-size: cover;
}

.promo__container {
  position: relative;
  padding-right: 65px;
  padding-left: 65px;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo__subtitle {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 32px;
  line-height: 1.125;
}

.promo__text {
  font-size: 16px;
  line-height: 1.5;
}

.promo__action {
  margin-top: 53px;
}

.achievements {
  margin-bottom: 33px;
}

.achievements__title {
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  font-size: 32px;
  line-height: 1.125;
}

.achievements__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
}

.achievements__item {
  min-height: 318px;
  margin-bottom: 30px;
  padding: 144px 28px 28px;
  text-align: center;
  border: 1px solid #ededed;

  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.achievements__item-icon {
  position: absolute;
  top: 59px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #29b560;
  font-size: 56px;
}

.achievements__item-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 28px;
  line-height: 1.2142857143;
}

.achievements__item-text {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  color: #ffffff;
  border-top: 4px solid #29b560;
  background-color: #2c3e50;
}

.footer__top {
  padding-top: 24px;
  padding-bottom: 21px;
  border-bottom: 1px solid #425262;
}

.footer__bottom {
  padding-top: 17px;
  font-size: 12px;
  line-height: 1.5;
}

.footer__pixel {
  display: inline-block;
  text-align: left;
}

.footer__link {
  color: inherit;
}

.modal {
  position: relative;
  width: 400px;
  margin: 40px auto;
  padding: 27px 56px 48px 44px;
  background-color: #ffffff;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: center;
}

.modal__text {
  margin-bottom: 27px;
  text-align: center;
  font-size: 13px;
  line-height: 1.5384615385;
}

.modal .form__group {
  margin-bottom: 15px;
}

.modal .form__group_submit {
  margin-top: 24px;
  margin-bottom: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: 0;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #ffffff slick-image-url("ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 10;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
  pointer-events: auto;
  color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  background: rgba(44, 62, 80, 0.3);
  font-size: 0;
  line-height: 0;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background-color: #29b560;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  color: #ffffff;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0;
}

.slick-prev:before,
.slick-next:before {
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  color: #ffffff;
  font-size: 21px;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 41px;
}

[dir="rtl"] .slick-prev {
  right: 41px;
  left: auto;
}

.slick-next {
  right: 41px;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: 41px;
}

/* Dots */
.slick-dots {
  position: absolute;
  z-index: 2;
  bottom: 0;
  display: block;
  width: 100%;
  margin: 0;
  padding: 42px 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
}

.slick-dots li button {
  display: inline-block;
  width: 9px;
  height: 9px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  color: transparent;
  border: 0;
  border-radius: 50%;
  outline: none;
  background-color: #ffffff;
  font-size: 0;
  line-height: 0;
}

.slick-dots li button:focus, .slick-dots li button:hover {
  width: 14px;
  height: 14px;
  outline: none;
}

.slick-dots li.slick-active button {
  width: 14px;
  height: 14px;
}

.hero {
  margin-top: -1px;
  margin-bottom: 51px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.hero__item {
  position: relative;
  height: 552px !important;
  padding-top: 50px;
  padding-bottom: 94px;
}

.hero__img-block {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  background-position: center;
  background-size: cover;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  height: 100%;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.25;
}

.hero__subtitle {
  margin-top: 27px;
  margin-bottom: 0;
}

.hero__subtitle:before {
  display: block;
  width: 87px;
  height: 1px;
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;
  content: "";
  background-color: #ffffff;
}

.hero__action {
  margin-top: 41px;
}
/*# sourceMappingURL=main.css.map */