.achievements {
    margin-bottom: 33px;
    
    &__title {
        margin-top: 0;
        margin-bottom: 56px;
        text-align: center;

        @include font-variant(32px,36px);
    }
    
    &__col {
        display: flex;
        flex-direction: column;
    }
    
    &__item {
        min-height: 318px;
        margin-bottom: 30px;
        padding: 144px 28px 28px;
        text-align: center;
        border: 1px solid $gray-lightest;

        flex: 1 0 auto;
        
        &-icon {
            position: absolute;
            top: 59px;
            left: 50%;
            transform: translateX(-50%);
            color: $brand-primary;
            font-size: 56px;
        }
        
        &-title {
            margin-top: 0;
            margin-bottom: 13px;     

            @include font-variant(28px,34px);   
        }
        
        &-text {
            @include font-variant($font-size-lg,$line-height-base);
        }
    }
}