.articles {
    padding-top: 6px;
    
    &:last-child {
        margin-bottom: -58px;
    }
    
    &__col {
        display: flex;
        flex-direction: column;
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 29px;
        transition: all 0.25s;
        color: inherit;

        flex: 1 0 auto;

        &:hover {
            color: inherit;
            box-shadow: 0 0 38px rgba(0,0,0,0.15);
        }
    }
    
    &__img-block {
        width: 100%;
        padding-bottom: 56.25%;
        background-position: center;
        background-size: cover;
    }
    
    &__content {
        padding: 13px 28px 28px;
        transition: all 0.25s;
        border: 1px solid $gray-lightest;
        border-top-width: 0;

        flex: 1 0 auto;
        
        .articles__item:hover & {
            border-color: #ffffff;
        }
    }
    
    &__title {
        .articles__item:hover & {
            color: $brand-primary;
        }
    }

    &__text {
        overflow: hidden;
        max-height: 96px;
    }
}