.article {    
    ul, ol {
      padding-left: 28px;
      list-style-type:none;
    
      > li {
        position: relative;
      
        &:before {
          position: absolute;
          left: 0;
        }
      }
    }
  
    ul {
      > li {      
          padding-left: 17px;
  
        &:before {
          top: 9px;
          content: "";
          background-color: $brand-primary;

          @include size(6px);
          @include rounded;
        }
      }
    }

    ol {
    	counter-reset: ol-counter;
    
      > li {
          padding-left: 20px;
 
        &:before {
          position: absolute;
          top: 0;
          content: counter(ol-counter)".";
      	  counter-increment: ol-counter;
          color: $brand-primary;
        }
      }
    }
    
    p + .box {
        margin-top: 40px;
    }
    
    &__imgs {
        margin-top: 34px;
        margin-bottom: 9px;
        
        img {
            display: block;
            margin-bottom: 20px;
        }
    }
}