// Breadcrumbs
.breadcrumbs {
    margin-top: 26px;
    margin-bottom: 8px;
  
    &__list {
        margin: 0;
        font-size: 0;

        @include list-unstyled;
    }
  
    &__item {
        display: inline-block;
        white-space: nowrap;
        color: $gray;

        @include font-variant($font-size-xs, $line-height-m);
    
        &:after {
            margin-right: 7px;
            margin-left: 6px;
            content: "/";
            color: $base-color;
        }
    
        &:last-child:after {
            content: "";
        }

        &:nth-last-child(2):after {
            color: $gray;
        }

    }
    
    &__link {
        color: $base-color;
    }
}