//
// Base styles
//

.button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  border: $btn-border-width solid transparent;
  border-radius: 4px;
  outline: 0;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;

  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height);
  @include transition(all 0.2s ease-in-out);
  @include hover-focus {
    text-decoration: none;
    outline: 0;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
      outline: 0;
    }
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: 0.65;
  }
  
  & + & {
      margin-left: 3px;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}


//
// Button Sizes
//

.button_width_300 {
  width: 300px;
}

//
// Alternate buttons
//

.button_primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border,$btn-primary-hover-bg);
}

//
// Link buttons
//

// Make a button look and behave like a link
.button_link {
  color: $link-color;
  border-radius: 0;
  font-weight: normal;

  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    text-decoration: $link-hover-decoration;
    color: $link-hover-color;
    background-color: transparent;
  }

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      text-decoration: none;
      color: $btn-link-disabled-color;
    }
  }
}


//
// Block button
//

.button_block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.button_block + .button_block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button_block {
    width: 100%;
  }
}
