.contacts {
    
    &__list {
        margin-bottom: 40px;
        padding-top: 6px;
    }

    &__section {
        @include font-variant($font-size-lg, $line-height-base);
    }
    
    &__item {
        position: relative;
        padding-left: 27px;

        &-icon {
            position: absolute;
            top: 6px;
            left: 3px;
            color: $brand-primary;
            font-size: 15px;
            
            &.ficon_phone {
                font-size: 13px;
            }
        }
    }
    
    &__map {
        
    }
}