.court {
    display: flex;
    padding: 37px 59px 38px;

    align-items: center;
    
    &__img-block {
        max-width: 340px;
        padding-right: 79px;

        flex: 0 0 340px;
    }
    
    &__img {
        display: block;
        border-radius: 50%;

        @include size(261px);
    }
    
    &__content {
        flex-grow: 1;
        flex-basis: 0;
    }
    
    &__title {
        margin-top: 0;
        padding-top: 4px;
    }

    &__text {
        margin-bottom: 33px;
    }
}