.date {
    display: block;
    width: 116px;
    height: 100px;
    padding: 2px 10px;
    cursor: pointer;
    transition: all 0.25s;
    text-align: center;
    border: 1px solid $gray-lightest;
    border-radius: 3px;
    outline: 0;
            
    &:not(.disabled):hover,
    &.active {
        color: #ffffff;
        border-color: $brand-primary;
        background-color: $brand-primary;
    }
    
    &__day {
        margin-bottom: -4px;
        text-align: right;
    }        

    &__number {
        margin-bottom: -4px;
        font-family: $font-family-sans-serif-2;

        @include font-variant(48px, 48px);
    }        
    
    &__month {
        text-transform: capitalize;
    }  
    
    &.disabled {
        cursor: default;
        color: #b2b2b2;
        background-color: #f3f3f3;
    }      
}