.dates {
    display: flex;
    margin-right: -5px;
    margin-left: -5px;

    flex-wrap: wrap;
    
    &__item {
        max-width: 116px;
        margin-right: 4.5px;
        margin-bottom: 9px;
        margin-left: 4.5px;

        flex: 0 0 116px;
    }
}