@font-face {
    font-family: "icons";
    font-weight: normal;
    font-style: normal;

    src: url("../fonts/icons.eot?3o34i9");
    src: url("../fonts/icons.eot?3o34i9#iefix") format("embedded-opentype"),
        url("../fonts/icons.ttf?3o34i9") format("truetype"),
        url("../fonts/icons.woff?3o34i9") format("woff"),
        url("../fonts/icons.svg?3o34i9#icons") format("svg");
}

[class^="ficon_"], [class*=" ficon_"], .slick-arrow, .mfp-arrow, .mfp-close {
    text-transform: none;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icons" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ficon_close:before,
.mfp-close:before {
  content: "\e90c";
}
.ficon_marker:before {
    content: "\e909";
}
.ficon_phone:before {
    content: "\e90a";
}
.ficon_prev:before,
.slick-prev:before,
.mfp-arrow-left:before {
    content: "\e900";
}
.ficon_next:before,
.slick-next:before,
.mfp-arrow-right:before {
    content: "\e901";
}
.ficon_check:before {
    content: "\e90b";
}
.ficon_eye:before {
    content: "\e902";
}
.ficon_person:before {
    content: "\e903";
}
.ficon_prize:before {
    content: "\e904";
}
.ficon_tennis:before {
    content: "\e905";
}
.ficon_fb:before {
    content: "\e906";
}
.ficon_ok:before {
    content: "\e907";
}
.ficon_vk:before {
    content: "\e908";
}
