@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic");

@font-face {
    font-family: "MuseoSansCyrl-700";
    font-weight: normal;
    font-style: normal;

    src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
         url("../fonts/MuseoSansCyrl-700.woff") format("woff"), 
         url("../fonts/MuseoSansCyrl-700.ttf")  format("truetype"), 
         url("../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
}
