.footer {
    color: #ffffff;
    border-top: 4px solid $brand-primary;
    background-color: $base-color;
    
    &__top {
        padding-top: 24px;
        padding-bottom: 21px;
        border-bottom: 1px solid #425262;
    }
    
    &__bottom {
        padding-top: 17px;

        @include font-variant($font-size-xs,$line-height-sm);
    }

    &__pixel {
        display: inline-block;
        text-align: left;
    }
    
    &__link {
        color: inherit;
    }
}