.form {
  
    &__control {
        position: relative;
        display: block;
        width: 100%;
        height: $input-height;
        padding: $input-padding-y $input-padding-x ($input-padding-y + 1);
        color: $input-color;
        border: $input-button-border-width solid $input-border-color;
        background: none;
        background-color: $input-bg;
        background-clip: padding-box;

        @include font-variant($input-font-size, $input-line-height, $font-weight: 300, $font-family: $font-family-sans-serif);
        @include transition(color ease-in-out 0.15s);
        // Customize the `:focus` state to imitate native WebKit styles.
    
        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
          border: 0;
          background-color: transparent;
        }

        // Placeholder
        &::placeholder {
          opacity: 1;
          color: $input-color-placeholder;
        }
      
        &:-ms-input-placeholder {
          color: $input-color-placeholder;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &[readonly] {
          opacity: 1;
          background-color: $input-bg-disabled;
        }

        &:disabled {
          cursor: $cursor-disabled;
        }

        &:focus,
        &:active {
          outline: 0;
        }
    }
  
    &__control.select {
      &:not([size]):not([multiple]) {
        height: calc(#{$input-height} - #{$input-button-border-width});
      }

      &:focus::-ms-value {
        // Suppress the nested default white text on blue background highlight given to
        // the selected option text when the (still closed) <select> receives focus
        // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
        // match the appearance of the native widget.
        color: $input-color;
      }
    }
  
    // Make file inputs better match text inputs by forcing them to new lines.
    &__control-file,
    &__control-range {
      display: block;
    }
    
    // Form groups
    //
    // Designed to help with the organization and spacing of vertical forms. For
    // horizontal forms, use the predefined grid classes.

    &__group {
        position: relative;
        margin-bottom: $form-group-margin-bottom;
        
        &_submit {
            text-align: center;
        }
        
        &_required {
            &:after {
                position: absolute;
                top: 10px;
                right: 1px;
                width: 41px;
                content: "*";
                text-align: center;
                color: $brand-primary;
                font-size: 16px;
                font-weight: bold;
            }
            
            .form__control {
                padding-right: 41px;
            }
        }
    }
    
    &__row {
        justify-content: center;
    }
    
    &__col {
        max-width: 320px;

        flex: 0 0 320px;
    }
}

textarea.form__control {
  height: auto;
}

.custom-control {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 27px;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    font-size: 13px;
    line-height: 16px;

    &__input {
      position: absolute;
      z-index: -1; // Put the input behind the label so it doesn't overlay text
      opacity: 0;
    }
}


// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

.custom-control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: inherit;
  border: 1px solid #cdd8df;
  background-color: #ffffff;
}

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
  .custom-control__icon {
    position: absolute;
    display: none;
    color: #ffffff;
  }
  
  .custom-control__input:checked ~ .custom-control__indicator,
  .custom-control__input:active ~ .custom-control__indicator {
    border-color: $brand-primary;
    background-color: $brand-primary;
    
    .custom-control__icon {
      top: 3px;
      left: 2px;
      display: block;
      font-size: 9px;
    }
  }
}

// Radios
//
// Tweak just a few things for radios.

.custom-radio {
  .custom-control__indicator {
    @include rounded;
  }

  .custom-control__input:checked ~ .custom-control__indicator,
  .custom-control__input:active ~ .custom-control__indicator {
    border-width: 5px;
    border-color: $brand-primary;
  }
}
