// Gallery
.gallery {
    display: flex;
    max-width: 1396px;
    margin-right: auto;
    margin-bottom: -84px;
    margin-left: auto;
    padding-right: 1px;

    flex-wrap: wrap;
    justify-content: center;
 
    &__item {
        position: relative;
        display: block;
        max-width: 20%;
        margin-bottom: 1px;
        border-left: 1px solid #ffffff;
        outline: 0;
        background: $base-color;

        flex: 0 0 20%;
    }
    
    &__img {
        display: block;
        width: 100%;
        
        .gallery__item:hover & {
            opacity: 0.2;
        }
    }
    
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 67px;
        height: 67px;
        transition: opacity 0.25s;
        transform: translate(-50%,-50%);
        text-align: center;
        opacity: 0;
        color: #ffffff;
        border-radius: 50%;
        background-color: $brand-primary;
        font-size: 23px;
        line-height: 67px;
        
        .gallery__item:hover & {
            opacity: 1;
        }
    }
}