.header {
    border-bottom: 1px solid $gray;
    
    &__logo {
        margin-top: 36px;
        margin-bottom: 21px;
        
        &-img {
            display: block;
        }
    }
  
    &__contacts {
        padding-top: 16px;
        padding-bottom: 8px;
        text-align: right;
        
        &-item {
            display: inline-block;
            margin-right: 13px;
            margin-left: 13px;
            vertical-align: middle;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    &__tel {
        font-family: $font-family-sans-serif-2;

        @include font-variant($font-size-lg,$line-height-base);
    }

    &__button {
        padding-right: 24px;
        padding-left: 24px;

        @include font-variant($font-size-lg,38px);
    }
    
    &__nav {
        text-align: right;
    }  
}