// Hero
.hero {
    margin-top: -1px;
    margin-bottom: 51px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    
    &__item {
        position: relative;
        height: 552px !important;
        padding-top: 50px;
        padding-bottom: 94px;
    }

    &__img-block {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.6;
        background-position: center;
        background-size: cover;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;

        justify-content: center;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 0;

        @include font-variant(48px,60px);
    }
    
    &__subtitle {
        margin-top: 27px;
        margin-bottom: 0;
        
        &:before {
            display: block;
            width: 87px;
            height: 1px;
            margin-right: auto;
            margin-bottom: 26px;
            margin-left: auto;
            content: "";
            background-color: #ffffff;
        }
    }
    
    &__action {
        margin-top: 41px;
    }
}