.instructor {
    text-align: center;
    
    &__img-block {
        margin-bottom: 23px;
    }
    
    &__img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;

        @include size(115px);
    }
    
    &__text {
        @include font-variant($font-size-sm,$line-height-sm);
    }
}