.instructors {
    margin-top: 36px;
    margin-bottom: 45px;
    
    &:last-child {
        margin-bottom: -38px;
    }
    
    &__section {
        margin-bottom: 38px;
        padding-top: 37px;
        padding-bottom: 36px;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 59px;
        text-align: center;
    }
    
    &__list {
        display: flex;
        margin: 0;

        @include list-unstyled;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__item {
        position: relative;
        min-width: 25%;
        margin-bottom: 30px;

        flex: 0 0 25%;
        
        & + &:before {
            position: absolute;
            top: 5px;
            left: -1px;
            width: 1px;
            height: 95px;
            content: "";
            background-color: #e9ebed;
        }
    }
    
    &__action {
        margin-top: 32px;
        text-align: center;
    }
}