// Links
.links {
    margin-bottom: 25px;
    
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 210px;
        margin-bottom: 30px;
        transition: all 0.25s;
        text-align: center;
        color: #ffffff;
        background-color: #000000;

        justify-content: center;
        align-items: center;
        
        &:hover {
            color: #ffffff;
            box-shadow: inset 0 0 0 1px $gray-lightest;
        }
    }

    &__img-block {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.54;
        background-position: center;
        background-size: cover;
    }
    
    &__title {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;

        @include font-variant(32px,36px);
    }
    
    &__button {
        position: relative;
        width: 188px;
        margin-top: 0;
        transition: all 0.25s;
        opacity: 0;
        line-height: 0;
        
        .links__item:hover & {
            margin-top: 42px;
            opacity: 1;
            line-height: 40px;
        }
    }
}