.modal {
    position: relative;
    width: 400px;
    margin: 40px auto;
    padding: 27px 56px 48px 44px;
    background-color: #ffffff;
    
    &__title {
        margin-top: 0;
        margin-bottom: 4px;
        text-align: center;
    }

    &__text {
        margin-bottom: 27px;
        text-align: center;

        @include font-variant($font-size-sm,$line-height-m);
    }
        
    .form__group {
        margin-bottom: 15px;
        
        &_submit {
            margin-top: 24px;
            margin-bottom: 0;
        }
    }
}