.nav {    
    &__list {
        margin: 0;
        font-size: 0;

        @include list-unstyled;
    }
    
    &__item {
        position: relative;
        display: inline-block;
        margin-right: 13px;
        margin-left: 13px;
        
        &:first-child {
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: -9px;
        }
    }

    &__link {
        display: block;
        padding: 18px 9px 18px;
        white-space: nowrap;
        color: $base-color;
        font-family: $font-family-sans-serif-2;

        @include font-variant($font-size-lg,$line-height-base);
        
        &:after {
            position: absolute;
            right: 0;
            bottom: -1px;
            left: 0;
            height: 6px;
            background-color: $brand-primary;
        }
        
        &:hover {
            &:after {
                content: "";
            }
        }

        &.active {
            color: $brand-primary;

            &:after {
                content: "";
            }
        }
    }
}