.price {
    padding: 29px 36px 47px;
    text-align: center;
    
    h2 {
        margin-top: 0;
    }
    
    table {
        margin-top: 29px;
    }

    table:last-child {
        margin-bottom: 0;
    }

    th {
        width: 277px;
    }
    
    td:last-child {
        width: 137px;
    }
}