// Promo
.promo {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 460px;
    margin-bottom: 55px;
    text-align: center;
    color: #ffffff;
    background-color: #1f2c3a;

    justify-content: center;
    
    &__img-block {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.2;
        background-position: center;
        background-size: cover;
    }
    
    &__container {
        position: relative;
        padding-right: 65px;
        padding-left: 65px;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 12px;
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 36px;

        @include font-variant(32px,36px);
    }
    
    &__text {
        @include font-variant($font-size-lg,$line-height-base);
    }
    
    &__action {
        margin-top: 53px;
    }
}