.reservation {
    &__section {
        padding: 2px 37px 33px;
        border-bottom: 1px solid #e9e9e9;
        
        &:last-child {
            border-bottom: 0;
        }
    }
    
    &__title {
        margin-bottom: 34px;
        text-align: center;
    }
    
    &__slider {
        overflow: hidden;
        margin-right: -12px;
        margin-left: -13px;
        
        .slick-arrow {
            top: 53px;
            width: 31px;
            transform: none;
            background-color: #ffffff;
            
            &:before {
                color: $brand-primary;
                font-size: 18px;
            }
            
            &:hover {
                background-color: $brand-primary;
                
                &:before {
                    color: #ffffff;
                }
            }
        }
        
        .slick-prev {
            left: 12px;
            padding-right: 19px;
            text-align: right;
            border-radius: 0 60px 60px 0;
        }

        .slick-next {
            right: 13px;
            padding-left: 19px;
            text-align: left;
            border-radius: 60px 0 0 60px;
        }
        
        &-item {
            padding-right: 12.5px;
            padding-left: 12.5px;
            cursor: pointer;
            cursor: pointer;
            text-align: center;
        }
        
        &-img-block {
            position: relative;
            height: 166px;
            margin-bottom: 13px;
            border-radius: 3px;
            background-color: $brand-primary;
        }
        
        &-img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            transition: all 0.25s;
            opacity: 1;
            background-position: center;
            background-size: cover;

            .reservation__slider-item:hover &,
            .reservation__slider-item.active & {
                opacity: 0.4;
            }
        }
        
        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transition: all 0.25s;
            transform: translate(-50%,-50%);
            opacity: 0;
            color: #ffffff;
            font-size: 50px;
            
            .reservation__slider-item:hover &,
            .reservation__slider-item.active & {
                opacity: 1;
            }
        }
        
        &-title {
            margin-bottom: 5px;
        }
    }
    
    &__dates {
        margin-bottom: 21px;
    }

    &__periods {
        margin-bottom: 8px;
        background-color: #eef1f5;
    }
    
    &__form {
        margin-top: -9px;
    }
}