.social {
    &__item {
        display: inline-block;
        width: 37px;
        height: 37px;
        margin-right: 8px;
        margin-left: 7px;
        transition: all 0.25s;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #425262;
        border-radius: 50%;
        background-color: transparent;
        font-size: 15px;
        line-height: 35px;

        @include hover-focus {
            text-decoration: none;
            color: $base-color;
            border-color: #ffffff;
            background-color: #ffffff;
        }
        
        &.ficon_vk {
            font-size: 11px;
        }

        &.ficon_ok {
            font-size: 19px;
        }
    }
}