.tabs {
    position: relative;
    
    &__nav {
        margin-top: 28px;
        margin-bottom: 28px;

        @include list-unstyled;
        
        &:last-child {
            margin-bottom: -23px;
        }
        
        &-item {
            margin-bottom: 15px;
            text-align: center;

            @include em-line-height($font-size-xs, 42px);
        }
 
        &-link {
            display: block;
            padding-top: 2px;
            color: $brand-primary;
            border: 1px solid $gray-lightest;
            border-radius: 4px;
            outline: 0;
            
            &:hover,
            &.active {
                color: #ffffff;
                border-color: $brand-primary;
                background-color: $brand-primary;
            }
        }
    }
    
    .tabs__tab {
        display: none;
      
        &.active {
            display: block;
        }
    }
    
    &_styled {
        .tabs__nav {
            margin-top: 35px;
            margin-bottom: 35px;
        
            .tabs__nav-item {
                text-transform: uppercase;
                font-family: $font-family-sans-serif-2;

                @include font-variant($font-size-xs, 42px);
            }
        }
    }
}