.time {
    display: block;
    width: 121px;
    cursor: pointer;
    transition: all 0.25s;
    text-align: center;
    border: 1px solid $gray-lightest;
    border-radius: 3px;
    outline: 0;
    background-color: #ffffff;

    @include font-variant($font-size-sm, 33px);
            
    &:not(.disabled):hover,
    &.active {
        color: #ffffff;
        border-color: $brand-primary;
        background-color: $brand-primary;
    }
    
    &.disabled {
        cursor: default;
        color: #b2b2b2;
        background-color: #f3f3f3;
    }      
}