//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

h1, .h1 {
    margin-bottom: 26px;
 
    @include font-variant($font-size-h1, $line-height-h1);
}
h2, .h2 {
    margin-top: 25px;
    margin-bottom: 17px;

    @include font-variant($font-size-h2, $line-height-h2);
}
h3, .h3 {
    margin-top: 25px;
    margin-bottom: 18px;

    @include font-variant($font-size-h3, $line-height-h3);
}
h4, .h4 {
    margin-bottom: 9px;

    @include font-variant($font-size-h4, $line-height-h4);
}
h5, .h5 {
    margin-bottom: 9px;

    @include font-variant($font-size-h5, $line-height-h5);
}
h6, .h6 {
    margin-bottom: 9px;
 
    @include font-variant($font-size-h6, $line-height-h6);
}

.text-primary {
  color: $brand-primary;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

//
// Table
//
table {
    width: 100%;
    margin-bottom: 35px;
    table-layout: fixed;
    border-spacing: 0;
    text-align: left;
    border-radius: 3px;
    border: 1px solid  $gray-lightest;

    @include font-variant($font-size-lg,$line-height-base);
}
th {
    padding: 16px 26px 15px;
    text-align: left;
    vertical-align: top;
    border: 1px solid $gray-lightest;
    border-width: 0 1px 1px 0;
    font-weight: bold;
}
td {
    padding: 8px 24px 7px;
    vertical-align: top;
    border-bottom: 1px solid $gray-lightest;
}
tr:last-child th,
tr:last-child td {
    border-bottom-width: 0;
}

