// Variables

// Table of Contents
//
// Colors
// Grid
// Body
// Links
// Fonts
// Components


// Colors
//
// Grayscale and brand colors

$base-color: #2c3e50 !default;
$gray: #d5d8dc !default;
$gray-light: #999999 !default;
$gray-lighter: #dcdcdc !default;
$gray-lightest: #ededed !default;

$brand-primary: #29b560 !default;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra large screen / wide desktop
  lg: 960px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  lg: 940px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default; // 30px

// Body
//
// Settings for the `<body>` element.

$body-bg: #ffffff !default;
$body-color: $base-color !default;


// Links
//
// Style anchor elements.

$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: #188c46 !default;
$link-hover-decoration: none !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif-2: "MuseoSansCyrl-700", "Times New Roman", Times, serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$font-size-lg: 16px !default; 
$font-size-m: 15px !default; 
$font-size-sm: 13px !default;
$font-size-xs: 12px !default;

$line-height-base: 24px !default;
$line-height-lg: 26px !default;
$line-height-m: 20px !default;
$line-height-sm: 18px !default;
$line-height-xs: 16px !default;
$line-height-xxs: 14px !default;

$font-size-h1: 40px !default;
$font-size-h2: 30px !default;
$font-size-h3: 24px !default;
$font-size-h4: 20px !default;
$font-size-h5: 18px !default;
$font-size-h6: $font-size-base !default;

$line-height-h1: 40px !default;
$line-height-h2: 36px !default;
$line-height-h3: 30px !default;
$line-height-h4: $line-height-base !default;
$line-height-h5: $line-height-base !default;
$line-height-h6: $line-height-base !default;

$headings-font-family: $font-family-sans-serif-2 !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1 !default;
$headings-color: $base-color !default;

$small-font-size: 80% !default;

$text-muted: $gray-light !default;

$abbr-border-color: $gray-light !default;

// Buttons
//
//
$btn-padding-x: 21px !default;
$btn-padding-y: 2px !default;
$btn-font-weight: 400 !default;
$btn-font-size: 15px !default;
$btn-font-family: $font-family-sans-serif-2 !default;
$btn-line-height: 42px !default;
$btn-border-width: 1px !default;

$btn-primary-color: #ffffff !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: $btn-primary-bg !default;
$btn-primary-hover-bg: $link-hover-color !default;

$btn-default-color: $base-color !default;
$btn-default-bg: $gray-light !default;
$btn-default-border: $btn-default-bg !default;

$btn-link-disabled-color: $gray-light !default;

$btn-padding-x-lg: 20px !default;
$btn-padding-y-lg: 2px !default;
$btn-font-size-lg: 13px !default;
$btn-line-height-lg: 34px !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 0 !default;
$btn-border-radius-lg: 0 !default;
$btn-border-radius-sm: 0 !default;


// Form
//
// 
$input-color-placeholder: $base-color !default;

$input-height: 44px !default;
$input-font-size: 13px !default;
$input-padding-y: 10px !default;
$input-padding-x: 17px !default;
$input-line-height: $line-height-base !default;

$input-bg: #ffffff !default;
$input-bg-disabled: $gray-light !default;

$input-color: $base-color !default;
$input-border-color: $gray-lightest !default;
$input-button-border-width: 1px !default; // For form controls and buttons

$input-bg-focus: #ffffff !default;
$input-border-focus: #f3f3f3 !default;
$input-color-focus: $base-color !default;

$input-sm-font-size: 12px !default;
$input-sm-padding-y: 2px !default;
$input-sm-padding-x: 11px !default;
$input-sm-padding-y-top: 0 !default;
$input-sm-padding-y-bottom: 0 !default;
$input-sm-line-height: $line-height-base !default;
$input-sm-height: 26px !default;

$form-group-margin-bottom: 30px !default;

$cursor-disabled: not-allowed !default;